@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    color: #1E1E2A;
}
body {
    background-color: #CFE2E1ff;
}
.header-container {
    height: 100vw;
    width: 100vw;
    background-color: #CFE2E1ff;
    background-image: url("imagens/banner.jpg");
    /* background-image: url("imagens/perfil.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
.social-midia {
    margin-top: 1rem;
    display: flex;
}
.social-midia a {
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover {
    background-color: #CFE2E1ff;
}
/* menu hanburger */
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #1E1E2A;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 26px;
    transform:rotate(z);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform:rotate(z);
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform:rotate(z);
}
#toggle{
    display: none;
}
h1{
    font-size: 50px;
    color: #D8E8DFff;
    font-family: 'Lobster', cursive;
    background-color: #AA8975ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    background-color: #AA8975ff;
    text-transform: uppercase;
    letter-spacing: 4px;
}
img{
    height: 280px;
}
p{
    font-family: 'Balsamiq Sans', cursive;
}
strong{
    font-style: oblique;
    background-color: #AA8975ff;
}

#lista{
    
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
}
a{
    font-size: 25px;
    /* color: #D8E8DFff; */
    background-color: #5E6266ff;
}
.php{
    font-size: 100px;
}
#minha_foto{
    float: left;
    padding: 10px;
    background-color: #AA8975ff;
}
.image-container{
    height: 300px;
    position: relative;
}
.descrficao{
    position: absolute;
    top: 20%;
    left: 40%;
    /*right: 40%;*/
    margin: 2px;
    padding: 50px;
}
/* ul li:nth-child(odd){
    background-color: #AA8975ff; 
} */