@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body{
    background-color: #CFE2E1ff;
}
h1{
    font-size: 50px;
    color: #D8E8DFff;
    font-family: 'Lobster', cursive;
    background-color: #AA8975ff;
    text-align: center;
}
h2{
    background-color: #AA8975ff;
}
img{
    height: 280px;
}
p{
    font-family: 'Balsamiq Sans', cursive;
}
strong{
    font-style: oblique;
    background-color: #AA8975ff;
}
#lista{
    background-image: url("imagens/banner.jpg");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
}
a{
    font-size: 25px;
    color: #D8E8DFff;
    background-color: #5E6266ff;
}
.php{
    font-size: 100px;
}
#minha_foto{
    float: left;
    padding: 10px;
    background-color: #AA8975ff;
}
.image-container{
    height: 300px;
    position: relative;
}
.descrficao{
    position: absolute;
    top: 20%;
    left: 40%;
    /*right: 40%;*/
    margin: 2px;
    padding: 50px;
}
ul li:nth-child(odd){
    background-color: #AA8975ff;
}